// ===============
// Base Controls
// ===============
.card-icon
    width 95% !important
    position relative
    height auto !important
    border-radius 5px

    .card
        font-size 14px !important
        position relative
        height auto
        padding 0

        .title-bar
            background rgba(#000, 0.05)
            border-bottom 1px solid rgba(#000, 0.1)
            padding 3px 6px 2px

            .card-points
                display inline-block
                color #888

            .card-summary-number
                margin 0 !important
                text-decoration none

        // Card ####
        .card-summary-number
            margin 5px 5px 10px 10px !important

            a
                color #aaa !important
                font-weight normal
                font-style italic

        .card-name
            padding 10px
            min-height 4em

        // Show card as blocked
        &.blocked-card
            border 2px solid #d22 !important
            border-left-width 6px !important

            & + .blocked-comments
                display block

        .block-bar
            width 100%
            background #c66
            color #fff
            text-align center
            line-height 1.8
            height 0
            cursor pointer
            overflow hidden
            transition height .3s ease-in-out
            transition-delay 0s

            &:hover
                background #d77

        &:hover:not(.blocked-card) .block-bar
            height 1.8em
            transition-delay .5s

    .blocked-comments
        display none
        border 2px solid #d22
        border-left-width 6px
        background rgba(221, 34, 34, .2)
        padding 5px
        color #000

        &::-webkit-input-placeholder
            color #caa

    &.operating .fa-spinner
        top 5px
        left 5px
        color #333
        font-size 28px
        background none