// =========================
// Mingle-specific Changes
// =========================

// Disable Mingle's default popup on cardclick
/*
.card-popup, .popup-arrow
    display none !important
*/

// Disable Mingle's default spinner inside each card
.card-inner-wrapper .spinner
    display none !important
